
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-06-hXX {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item-06-hXX .auto-group-73ff-ceV {
  box-sizing: border-box;
  padding-bottom: 12.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 {
  margin: 0rem 0.1rem 19.05rem 0rem;
  width: 207.3rem;
  height: 96.8rem;
  position: relative;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw {
  box-sizing: border-box;
  padding-top: 3.9rem;
  width: 191.9rem;
  height: 96.8rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .frame-1-mfo {
  margin: 0rem 37.2rem 3.9rem 37.3rem;
  width: calc(100% - 74.5rem);
  height: 5.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .frame-1-mfo .image-104-5wP {
  margin-right: 21.3rem;
  width: 9.8rem;
  height: 2.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .frame-1-mfo .auto-group-px2d-cRX {
  margin-right: 26.4rem;
  box-sizing: border-box;
  padding: 1.3rem 0rem 1.2rem 5.1rem;
  width: 48.6rem;
  height: 100%;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .frame-1-mfo .auto-group-px2d-cRX .group-1000004103-KKw {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 5.7rem;
  align-items: flex-start;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .frame-1-mfo .auto-group-px2d-cRX .group-1000004103-KKw .auto-group-egyh-et1 {
  width: 6.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .frame-1-mfo .auto-group-px2d-cRX .group-1000004103-KKw .auto-group-egyh-et1 .home-bYM {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  color: #ff5324;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .frame-1-mfo .auto-group-px2d-cRX .group-1000004103-KKw .auto-group-egyh-et1 .ellipse-1-JxZ {
  margin: 0rem 2.9rem 0rem 2.8rem;
  width: calc(100% - 5.7rem);
  height: 0.6rem;
  background-color: #f54c1e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .frame-1-mfo .auto-group-px2d-cRX .group-1000004103-KKw .protfolio-pvu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .frame-1-mfo .auto-group-px2d-cRX .group-1000004103-KKw .blog-Yru {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .frame-1-mfo .auto-group-px2d-cRX .group-1000004103-KKw .pages-tA5 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .frame-1-mfo .group-1000004104-d7f {
  margin: 0.9rem 0rem 0.846rem 0rem;
  height: calc(100% - 1.7457rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .frame-1-mfo .group-1000004104-d7f .image-102-ki5 {
  margin-right: 4.0295rem;
  width: 3.4163rem;
  height: 3.4163rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .frame-1-mfo .group-1000004104-d7f .image-103-tZP {
  width: 3.8543rem;
  height: 3.8543rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .auto-group-7jcz-dG5 {
  width: 100%;
  height: 83.4rem;
  position: relative;
  background-color: #f9f6f4;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .auto-group-7jcz-dG5 .rectangle-3993-Mxm {
  width: 48rem;
  height: 66.4rem;
  position: relative;
  left: 94.4rem;
  top: 0;
  background-size: 207.696% 100%;
  background-position: -32.247rem 0.4rem;
  background-image: url('../assets/rectangle-3993.png');
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .auto-group-7jcz-dG5 .rectangle-3994-q7F {
  width: 36.7rem;
  height: 49.7rem;
  position: relative;
  left: 145.3rem;
  top: 7.1rem;
  background-size: 203.134% 100%;
  background-position: -37.525rem -0.4rem;
  background-image: url('../assets/rectangle-3994.png');
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .auto-group-7jcz-dG5 .line-1-Ko7 {
  width: 191.9rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  background-color: rgba(0, 0, 0, 0.1099999994);
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .auto-group-7jcz-dG5 .bigger-bolder-better-Ssj {
  width: 58.8rem;
  height: 21.9rem;
  position: absolute;
  left: 31.9rem;
  top: 18.75rem;
  display: flex;
  font-size: 7.8rem;
  font-weight: 600;
  line-height: 1.3999999609;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .auto-group-7jcz-dG5 .bigger-bolder-better-Ssj .bigger-bolder-better-Ssj-sub-0 {
  font-size: 7.8rem;
  font-weight: 700;
  line-height: 1.3999999609;
  color: #f54c1e;
  font-family: Montserrat, 'Source Sans Pro';
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .auto-group-7jcz-dG5 .bigger-bolder-better-Ssj .bigger-bolder-better-Ssj-sub-1 {
  font-size: 7.8rem;
  font-weight: 700;
  line-height: 1.3999999609;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .auto-group-7jcz-dG5 .connect-otter-to-your-google-or-microsoft-calendar-and-it-can-automatically-join-and-record-1C5 {
  width: 58.2rem;
  height: 8rem;
  position: absolute;
  left: 31.9rem;
  top: 41.7rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7999999306;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .auto-group-7jcz-dG5 .line-2-fXX {
  width: 0rem;
  height: 0.2rem;
  position: absolute;
  left: 29.7rem;
  top: 31.9rem;
  background-color: #000000;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .frame-2-rHw .auto-group-7jcz-dG5 .there-are-many-variations-of-passages-of-lorem-ipsum-available-but-the-majority-have-suffered-alteration-CGZ {
  width: 33.6rem;
  height: 8.7rem;
  position: absolute;
  left: 149rem;
  top: 58.6rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7999999523;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .image-105-Sgh {
  width: 9.5rem;
  height: 9.5rem;
  position: absolute;
  left: 0;
  top: 27.5rem;
  object-fit: cover;
  vertical-align: top;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .group-1000004105-N4Z {
  width: 115.2294rem;
  height: 78.0204rem;
  position: absolute;
  left: 0;
  top: 13.6rem;
  object-fit: contain;
  vertical-align: top;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-j8vm-jj7 .image-107-tHo {
  width: 9.6rem;
  height: 9.6rem;
  position: absolute;
  left: 12.9rem;
  top: 67.3rem;
  object-fit: cover;
  vertical-align: top;
}
.item-06-hXX .auto-group-73ff-ceV .group-1000004109-off {
  margin: 0rem 37.5rem 16rem 37.3rem;
  width: calc(100% - 74.8rem);
  height: 85.95rem;
  position: relative;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .group-1000004109-off .image-108-KP7 {
  width: 23.7342rem;
  height: 8.8rem;
  position: absolute;
  left: 89.1504rem;
  top: 32.15rem;
  object-fit: cover;
  vertical-align: top;
}
.item-06-hXX .auto-group-73ff-ceV .group-1000004109-off .group-1000004108-3pu {
  width: 117.2rem;
  height: 85.95rem;
  position: absolute;
  left: 0;
  top: 0;
}
.item-06-hXX .auto-group-73ff-ceV .group-1000004109-off .group-1000004108-3pu .group-1000004107-nXb {
  margin: 0rem 0rem 5.55rem 0.196rem;
  display: flex;
  flex-direction: column;
}
.item-06-hXX .auto-group-73ff-ceV .group-1000004109-off .group-1000004108-3pu .group-1000004107-nXb .creative-design-advertising-ig9 {
  margin-bottom: 2.4rem;
  max-width: 57.8rem;
  display: flex;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.5049999952;
  color: #020202;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .group-1000004109-off .group-1000004108-3pu .group-1000004107-nXb .creative-design-advertising-ig9 .creative-design-advertising-ig9-sub-0 {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.5049999952;
  color: #f54c1e;
  font-family: Montserrat, 'Source Sans Pro';
}

.item-06-hXX .auto-group-73ff-ceV .group-1000004109-off .group-1000004108-3pu .group-1000004107-nXb .at-pulvinar-egestas-ornare-ac-hendrerit-ante-orci-sit-nisl-ultricies-enim-pellentesque-tristique-donec-et-amet-nunc-quis-bibendum-aenean-odio-malesuada-pellentesque-semper-turpis-faucibus-sociis-porttitor-sed-pellentesque-faucibus-dapibus-luctus-sed-UHw {
  max-width: 80rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7999999306;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .group-1000004109-off .group-1000004108-3pu .auto-group-2nob-hAh {
  width: 100%;
  display: flex;
  align-items: center;
}
.item-06-hXX .auto-group-73ff-ceV .group-1000004109-off .group-1000004108-3pu .auto-group-2nob-hAh .rectangle-3995-Fi1 {
  margin: 0rem 5.198rem 6.2rem 0rem;
  width: 56.001rem;
  height: 36.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .group-1000004109-off .group-1000004108-3pu .auto-group-2nob-hAh .rectangle-3996-mRT {
  margin-top: 6.2rem;
  width: 56.001rem;
  height: 36.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .group-1000004106-tky {
  margin: 0rem 35.8rem 16.05rem 35.5rem;
  width: calc(100% - 71.3rem);
  height: 22.8rem;
  position: relative;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .group-1000004106-tky .frame-5-DoF {
  width: 120.7rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 1.8rem;
  background-color: #341912;
}
.item-06-hXX .auto-group-73ff-ceV .group-1000004106-tky .frame-4-wjF {
  box-sizing: border-box;
  padding: 6.55rem 2.7rem 5.35rem 5.3rem;
  width: 117.2rem;
  height: 21rem;
  position: absolute;
  left: 1.8rem;
  top: 0;
  background-color: #f55529;
}
.item-06-hXX .auto-group-73ff-ceV .group-1000004106-tky .frame-4-wjF .frame-3-etZ {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.item-06-hXX .auto-group-73ff-ceV .group-1000004106-tky .frame-4-wjF .frame-3-etZ .happy-clients-in-25-years-1j7 {
  margin-right: 2.9rem;
  max-width: 27.9rem;
  text-align: right;
  display: flex;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5050000509;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .group-1000004106-tky .frame-4-wjF .frame-3-etZ .projects-completed-onthe-worldwide-itR {
  margin-right: 3.9rem;
  max-width: 41.3rem;
  text-align: right;
  display: flex;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5050000509;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .group-1000004106-tky .frame-4-wjF .frame-3-etZ .call-usdirectly-88-325-3264-33-RXw {
  max-width: 33.2rem;
  text-align: right;
  display: flex;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5050000509;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-raxh-7ff {
  margin: 0rem 28.6rem 5.7rem 35.4rem;
  width: calc(100% - 64rem);
  height: 74.85rem;
  position: relative;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-raxh-7ff .image-109-EkH {
  width: 9.6rem;
  height: 9.6rem;
  position: absolute;
  left: 118.4rem;
  top: 7.15rem;
  object-fit: cover;
  vertical-align: top;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-raxh-7ff .frame-1000004112-mkD {
  width: 120.9rem;
  height: 74.85rem;
  position: absolute;
  left: 0;
  top: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-raxh-7ff .frame-1000004112-mkD .frame-1000004110-Who {
  margin: 0rem 3.4rem 8.65rem 0rem;
  width: calc(100% - 3.4rem);
  display: flex;
  align-items: center;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-raxh-7ff .frame-1000004112-mkD .frame-1000004110-Who .latest-works-SrM {
  margin-right: 23.4rem;
  display: flex;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.5049999952;
  text-decoration-line: underline;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-raxh-7ff .frame-1000004112-mkD .frame-1000004110-Who .latest-works-SrM .latest-works-SrM-sub-0 {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.5049999952;
  text-decoration-line: underline;
  color: #f55529;
  font-family: Montserrat, 'Source Sans Pro';
}

.item-06-hXX .auto-group-73ff-ceV .auto-group-raxh-7ff .frame-1000004112-mkD .frame-1000004110-Who .at-pulvinar-egestas-ornare-ac-hendrerit-ante-orci-sit-nisl-ultricies-enim-pellentesque-tristique-donec-et-amet-nunc-quis-EGR {
  max-width: 50.8rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7999999306;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-raxh-7ff .frame-1000004112-mkD .group-1000004110-iBb {
  width: 100%;
  height: 54.3rem;
  display: flex;
  column-gap: 3.9rem;
  align-items: center;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-raxh-7ff .frame-1000004112-mkD .group-1000004110-iBb .frame-1000004111-e5F {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-raxh-7ff .frame-1000004112-mkD .group-1000004110-iBb .frame-1000004111-e5F .rectangle-3997-NX3 {
  margin-bottom: 3.3rem;
  width: 37.7rem;
  height: 47rem;
  position: relative;
  background-size: 100% 412.753%;
  background-position: -0.1rem 0.003rem;
  background-image: url('../Asset/rectangle-3997.png');
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-raxh-7ff .frame-1000004112-mkD .group-1000004110-iBb .frame-1000004111-e5F .landing-page-G6d {
  margin-right: 1.8rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7999999306;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-raxh-7ff .frame-1000004112-mkD .group-1000004110-iBb .frame-7-nKs {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-raxh-7ff .frame-1000004112-mkD .group-1000004110-iBb .frame-7-nKs .rectangle-3998-YK3 {
  margin-bottom: 3.3rem;
  width: 37.7rem;
  height: 47rem;
  position: relative;
  background-size: 100% 455.057%;
  background-position: 0rem -0.0385rem;
  background-image: url(/Asset/IMAGE/Rectangle\ 3998.png);
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-raxh-7ff .frame-1000004112-mkD .group-1000004110-iBb .frame-7-nKs .landing-page-qJ9 {
  margin-right: 1.4rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7999999306;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-raxh-7ff .frame-1000004112-mkD .group-1000004110-iBb .frame-6-xNm {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-raxh-7ff .frame-1000004112-mkD .group-1000004110-iBb .frame-6-xNm .rectangle-3999-iMw {
  margin-bottom: 3.3rem;
  width: 37.7rem;
  height: 47rem;
  position: relative;
  background-size: 166.225% 100%;
  background-position: -12.4833rem 0;
  background-image: url(/Asset/IMAGE/Rectangle\ 3999.png);
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .auto-group-raxh-7ff .frame-1000004112-mkD .group-1000004110-iBb .frame-6-xNm .landing-page-DZb {
  margin-right: 2.1rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7999999306;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .image-108-L8R {
  margin: 0rem 121.266rem 1.5rem 0rem;
  width: 23.7342rem;
  height: 8.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .frame-1000004113-32q {
  margin: 0rem 37.9rem 0rem 37.7rem;
  width: calc(100% - 75.6rem);
  height: 45.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .frame-1000004113-32q .group-1000004111-xQh {
  margin: 0.4rem 19.3rem 0.55rem 0rem;
  height: calc(100% - 0.95rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .frame-1000004113-32q .group-1000004111-xQh .create-an-amazing-website-that-your-visitors-will-love-Utq {
  margin-bottom: 2.15rem;
  max-width: 49.2rem;
  display: flex;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.505;
  text-decoration-line: underline;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .frame-1000004113-32q .group-1000004111-xQh .create-an-amazing-website-that-your-visitors-will-love-Utq .create-an-amazing-website-that-your-visitors-will-love-Utq-sub-0 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.505;
  text-decoration-line: underline;
  color: #f55529;
  font-family: Montserrat, 'Source Sans Pro';
}

.item-06-hXX .auto-group-73ff-ceV .frame-1000004113-32q .group-1000004111-xQh .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla-ut-commodo-diam-libero-vitae-erat-1nH {
  max-width: 54.6rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.7999999306;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-06-hXX .auto-group-73ff-ceV .frame-1000004113-32q .rectangle-4000-3ys {
  width: 42.5rem;
  height: 45.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-8yo3-ngZ {
  box-sizing: border-box;
  padding: 0rem 0.7rem 0rem 1rem;
  width: 100%;
  height: 63.6rem;
  background-size: 100% 249.185%;
  background-position: 0 -50.5408rem;
  background-image: url('../assets/rectangle-4001-bg.png');
  flex-shrink: 0;
}
.item-06-hXX .auto-group-8yo3-ngZ .group-1000004112-vGy {
  box-sizing: border-box;
  padding: 17.15rem 8rem 5.2rem 53.45rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5099999905);
}
.item-06-hXX .auto-group-8yo3-ngZ .group-1000004112-vGy .group-1000004113-eCy {
  margin: 0rem 30.25rem 12.15rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-8yo3-ngZ .group-1000004112-vGy .group-1000004113-eCy .build-authority-gain-exposure-and-connect-with-your-audience-ym3 {
  margin-bottom: 2.1rem;
  max-width: 85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.505;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-06-hXX .auto-group-8yo3-ngZ .group-1000004112-vGy .group-1000004113-eCy .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-eros-dolo-g9f {
  margin-right: 0.1rem;
  max-width: 66.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.7999999306;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-06-hXX .auto-group-8yo3-ngZ .group-1000004112-vGy .icon-j7w {
  margin-top: 26.05rem;
  width: 15.2rem;
  height: 15.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-8yo3-ngZ .auto-group-8yo3-ngZ-bg {
  width: 193.6rem;
  height: 63.6rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:ab17ed02491ad977dcc9b05af474824e73d109d1');
}
.item-06-hXX .auto-group-ze4h-n6D {
  box-sizing: border-box;
  padding: 12.35rem 38rem 22.5rem 38.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .auto-group-n1wx-hiy {
  margin-bottom: 7.8rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .auto-group-n1wx-hiy .ourawards-3Xw {
  margin-right: 7.2rem;
  display: flex;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.505;
  text-decoration-line: underline;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .auto-group-n1wx-hiy .auto-group-dwkp-xeu {
  margin-top: 5.55rem;
  width: 79.5rem;
  height: 16.45rem;
  position: relative;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .auto-group-n1wx-hiy .auto-group-dwkp-xeu .image-110-Vuj {
  width: 9.5rem;
  height: 9.5rem;
  position: absolute;
  left: 65.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.item-06-hXX .auto-group-ze4h-n6D .auto-group-n1wx-hiy .auto-group-dwkp-xeu .frame-1000004117-2em {
  width: 79.5rem;
  height: 9.3rem;
  position: absolute;
  left: 0;
  top: 7.15rem;
  display: flex;
  align-items: center;
}
.item-06-hXX .auto-group-ze4h-n6D .auto-group-n1wx-hiy .auto-group-dwkp-xeu .frame-1000004117-2em .group-1000004115-AFB {
  margin-right: 22.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .auto-group-n1wx-hiy .auto-group-dwkp-xeu .frame-1000004117-2em .group-1000004115-AFB .websites-of-the-year-2020-Wpq {
  margin-bottom: 1.3rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5049999952;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .auto-group-n1wx-hiy .auto-group-dwkp-xeu .frame-1000004117-2em .group-1000004115-AFB .lewis-studio-SCh {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5050000191;
  color: #979797;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .auto-group-n1wx-hiy .auto-group-dwkp-xeu .frame-1000004117-2em .see-project-N6M {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5050000191;
  text-decoration-line: underline;
  color: #979797;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .frame-1000004118-gcq {
  margin: 0rem 0rem 7.8rem 36.4rem;
  width: calc(100% - 36.4rem);
  height: 9.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .frame-1000004118-gcq .group-1000004115-Cr5 {
  margin-right: 22.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .frame-1000004118-gcq .group-1000004115-Cr5 .websites-of-the-year-2020-MDB {
  margin-bottom: 1.3rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5049999952;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .frame-1000004118-gcq .group-1000004115-Cr5 .lewis-studio-59B {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5050000191;
  color: #979797;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .frame-1000004118-gcq .see-project-QBT {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5050000191;
  text-decoration-line: underline;
  color: #979797;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .frame-1000004119-8t9 {
  margin: 0rem 0rem 7.8rem 36.4rem;
  width: calc(100% - 36.4rem);
  height: 9.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .frame-1000004119-8t9 .group-1000004115-TfX {
  margin-right: 22.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .frame-1000004119-8t9 .group-1000004115-TfX .websites-of-the-year-2020-DPo {
  margin-bottom: 1.3rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5049999952;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .frame-1000004119-8t9 .group-1000004115-TfX .lewis-studio-LjK {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5050000191;
  color: #979797;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .frame-1000004119-8t9 .see-project-V6R {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5050000191;
  text-decoration-line: underline;
  color: #979797;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .frame-1000004120-cgq {
  margin: 0rem 0rem 6.35rem 36.4rem;
  width: calc(100% - 36.4rem);
  height: 9.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .frame-1000004120-cgq .group-1000004115-YaV {
  margin-right: 22.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .frame-1000004120-cgq .group-1000004115-YaV .websites-of-the-year-2020-JJm {
  margin-bottom: 1.3rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5049999952;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .frame-1000004120-cgq .group-1000004115-YaV .lewis-studio-RuB {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5050000191;
  color: #979797;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .frame-1000004120-cgq .see-project-NpR {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5050000191;
  text-decoration-line: underline;
  color: #979797;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-ze4h-n6D .line-3-Wvd {
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-dnvv-sWH {
  box-sizing: border-box;
  padding: 15.95rem 23.7rem 15.95rem 23.1rem;
  width: 192.8rem;
  height: 68.8rem;
  background-color: #f9f6f4;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-dnvv-sWH .group-1000004122-zL1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.item-06-hXX .auto-group-dnvv-sWH .group-1000004122-zL1 .group-1000004121-wW9 {
  margin-right: 24.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-dnvv-sWH .group-1000004122-zL1 .group-1000004121-wW9 .boost-your-business-up-to-high-level-hER {
  margin-bottom: 3.7rem;
  max-width: 42.7rem;
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5050000191;
  text-decoration-line: underline;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-06-hXX .auto-group-dnvv-sWH .group-1000004122-zL1 .group-1000004121-wW9 .start-by-saying-hi-oHT {
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5050000191;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}

.item-06-hXX .auto-group-dnvv-sWH .group-1000004122-zL1 .group-1000004121-wW9 .start-by-saying-hi-oHT .start-by-saying-hi-oHT-sub-1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5050000191;
  color: #f55529;
  font-family: Montserrat, 'Source Sans Pro';
}
.item-06-hXX .auto-group-dnvv-sWH .group-1000004122-zL1 .group-1000004120-TmK {
  margin-right: 19.5rem;
  width: 29.7rem;
  height: 100%;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-dnvv-sWH .group-1000004122-zL1 .group-1000004120-TmK .links-yzZ {
  margin-bottom: 3.7rem;
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5050000191;
  text-decoration-line: underline;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.item-06-hXX .auto-group-dnvv-sWH .group-1000004122-zL1 .group-1000004120-TmK .group-1000004117-WDo {
  width: 100%;
  row-gap: 2.9rem;
  display: flex;
  flex-direction: column;
}
.item-06-hXX .auto-group-dnvv-sWH .group-1000004122-zL1 .group-1000004120-TmK .group-1000004117-WDo .faqs-Efb {
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5050000509;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-dnvv-sWH .group-1000004122-zL1 .group-1000004120-TmK .group-1000004117-WDo .about-us-aUZ {
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5050000509;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-dnvv-sWH .group-1000004122-zL1 .group-1000004120-TmK .group-1000004117-WDo .privacy-policy-help-v2d {
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5050000509;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-dnvv-sWH .group-1000004122-zL1 .group-1000004120-TmK .group-1000004117-WDo .affiliate-services-rgy {
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5050000509;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-dnvv-sWH .group-1000004122-zL1 .group-1000004119-oMK {
  width: 29.5rem;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-dnvv-sWH .group-1000004122-zL1 .group-1000004119-oMK .contact-9vy {
  margin-bottom: 2.1rem;
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5050000191;
  text-decoration-line: underline;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.item-06-hXX .auto-group-dnvv-sWH .group-1000004122-zL1 .group-1000004119-oMK .group-1000004118-ttZ {
  width: 100%;
  row-gap: 3.4rem;
  display: flex;
  flex-direction: column;
}
.item-06-hXX .auto-group-dnvv-sWH .group-1000004122-zL1 .group-1000004119-oMK .group-1000004118-ttZ .infoagencecom-SfB {
  margin-left: 0.2rem;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5050000509;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-dnvv-sWH .group-1000004122-zL1 .group-1000004119-oMK .group-1000004118-ttZ .phone-345-655685-AbB {
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5050000509;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-hXX .auto-group-dnvv-sWH .group-1000004122-zL1 .group-1000004119-oMK .group-1000004118-ttZ .facebookagence-uYm {
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5050000509;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}